/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-primary: #6d28d9;
  --color-secondary: #ef4444;
  --color-accent: #dc2626;
  --color-bg-dark: #000000;
  --color-bg-card: #0f172a;
}

body {
  @apply bg-bg-dark text-white font-sans;
  margin: 0;
  overflow: hidden;
}

/* Custom Scrollbar Premium */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(109, 40, 217, 0.2); /* primary color with low opacity */
  border-radius: 10px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(109, 40, 217, 0.5); /* secondary-like highlight */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(109, 40, 217, 0.2) transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #6d28d9, #ef4444);
  opacity: 0.5;
}
